*.db
*.map
.DS_Store
/.cache/
/.idea/
/dist/config.js
/dist/images/bg4.png
/dist/images/slides/london.png
/dist/includes/
/dist/sensors.js
/dist/styles/custom.css
/dist-dev/
/includes/
/node_modules/
