/*
 copy this file to secrets.js and change the values to your needs.
*/

secrets = '{"serverUrl" : "https://hassio.local:8123", "wsUrl" : "wss://hassio.local:8123/api/websocket", "authToken": null, "googleApiKey" : "XXXXXXXXX" }';
