<div>
   <div
      class="item-button -center-right"
      ng-if="ctrl.entity.attributes.temperature && ctrl.entity.state !== 'off'"
      ng-click="ctrl.increaseClimateTemp($event)"
   >
      <i class="mdi mdi-plus"></i>
   </div>
   <div
      class="item-button -bottom-right"
      ng-if="ctrl.entity.attributes.temperature && ctrl.entity.state !== 'off'"
      ng-click="ctrl.decreaseClimateTemp($event)"
   >
      <i class="mdi mdi-minus"></i>
   </div>
</div>
<div class="item-climate">
   <div class="item-climate--target">
      <span>{{ ctrl.climateTarget() }}</span>
      <span ng-if="(_unit = ctrl.rootCtrl.entityUnit(ctrl.item, ctrl.entity))" class="item-climate--target--unit"
         >{{ _unit }}</span
      >
      <i class="item-climate--icon mdi" ng-class="ctrl.rootCtrl.entityIcon(ctrl.item, ctrl.entity)"></i>
   </div>
   <div
      class="item-climate--mode"
      ng-if="(_options = ctrl.getClimateOptions())"
      ng-click="ctrl.rootCtrl.openSelect(ctrl.item)"
   >
      <span>{{ ctrl.getClimateCurrentOption() }}</span>
   </div>
</div>
<div
   ng-if="ctrl.rootCtrl.selectOpened(ctrl.item)"
   class="item-select"
   ng-style="ctrl.rootCtrl.itemSelectStyles(ctrl.entity, Object.keys(_options))"
>
   <div
      class="item-select--option"
      ng-repeat="option in _options track by $index"
      ng-class="{'-active': option === ctrl.lookupClimateOption(ctrl.entity.state)}"
      ng-click="ctrl.setClimateOption($event, option)"
   >
      <span>{{ option }}</span>
   </div>
</div>
