.-theme-material {
  color: #3d3d3d;
  background: #f8f8f8 !important;
}
.-theme-material .header {
  color: #fff;
  background: #3664d8;
  font-weight: lighter;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 10px;
}
.-theme-material .group-title {
  color: #3d3d3d;
  font-weight: 400;
}
.-theme-material .pages-menu--item {
  color: #545454;
  opacity: 0.8;
}
.-theme-material .pages-menu--item.-active {
  opacity: 1;
}
.-theme-material .item {
  color: #06090a;
  background: #ffffff !important;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.-theme-material .item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.-theme-material .item-state {
  background: transparent;
  font-weight: lighter;
  color: #5e5e5e;
  padding: 3px 5px 2px;
}
.-theme-material .item-entity {
  color: #5f5c53;
}
.-theme-material .item-clickable {
  border-left: 3px solid #3664d8 !important;
  border-top: 3px solid #3664d8 !important;
}
.-theme-material .item-subtitle {
  font-size: 14px;
  bottom: 21px;
}
.-theme-material .item-title {
  height: 22px;
  line-height: 22px;
  padding-bottom: 1px;
}
.-theme-material .item-title,
.-theme-material .item-subtitle {
  padding-left: 7px;
  font-weight: normal;
}
.-theme-material .item.-device_tracker {
  background: #222 !important;
}
.-theme-material .item.-device_tracker .item-title,
.-theme-material .item.-camera .item-title,
.-theme-material .item.-camera_thumbnail .item-title {
  color: #fff;
}
.-theme-material .item.-device_tracker .item-state,
.-theme-material .item.-camera .item-state,
.-theme-material .item.-camera_thumbnail .item-state {
  color: #fff;
}
.-theme-material .item .item-entity--icon {
  color: #6a686f;
}
.-theme-material .item.-disarmed,
.-theme-material .item.-off {
  color: #75737a;
}
.-theme-material .item.-disarmed .item-state,
.-theme-material .item.-off .item-state {
  color: #58585d;
}
.-theme-material .item.-disarmed .item-entity--icon,
.-theme-material .item.-off .item-entity--icon {
  opacity: 0.8;
}
.-theme-material .item.-armed .item-entity--icon,
.-theme-material .item.-on .item-entity--icon {
  color: #369628;
}
.-theme-material .item-list--name {
  color: #3d3d3d;
}
.-theme-material .item-list--name .mdi {
  opacity: 0.6;
}
.-theme-material .wu {
  opacity: 0.7;
}
.-theme-material .item-select {
  background: #fff;
  border: 1px solid #aaa;
}
.-theme-material .item-select--option:active,
.-theme-material .item-select--option.-active {
  background: #eee;
}
.-theme-material .media-player--source {
  color: #555;
}
.-theme-material input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: 0px solid #000101;
}
.-theme-material input[type=range]::-moz-range-track {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.-theme-material input[type=range]::-webkit-slider-thumb {
  background: #3664d8;
  width: 24px;
  height: 14px;
  border-radius: 8px;
}
.-theme-material input[type=range]::-moz-range-thumb {
  background: #3664d8;
  width: 24px;
  height: 14px;
  border-radius: 8px;
}
.-theme-material input[type=range]::-ms-thumb {
  background: #3664d8;
  width: 24px;
  height: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.-theme-material .noty {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.-theme-transparent {
  color: #eee;
}
.-theme-transparent .item {
  color: #f5efee;
  background: rgba(132, 122, 116, 0.1) !important;
  box-shadow: 1px 1px 0 rgba(54, 47, 36, 0.35), -1px -1px 0 rgba(200, 200, 200, 0.1);
  border-radius: 2px;
}
.-theme-transparent .item-state {
  background: rgba(0, 0, 0, 0.1);
}
.-theme-transparent .item.-device_tracker {
  background: #222 !important;
}
.-theme-transparent .item.-device_tracker .item-slides-container {
  opacity: 0.8;
}
.-theme-transparent .item.-device_tracker .item-title,
.-theme-transparent .item.-camera .item-title,
.-theme-transparent .item.-camera_thumbnail .item-title {
  color: #fff;
}
.-theme-transparent .item.-armed .item-entity--icon,
.-theme-transparent .item.-on .item-entity--icon,
.-theme-transparent .item.-armed .item-state,
.-theme-transparent .item.-on .item-state {
  color: #fff1cc;
}
.-theme-win95 {
  color: #eee;
  background: #238181 !important;
}
.-theme-win95 .item {
  color: #212020;
  background: #c8cacb !important;
  border: 1px solid #777;
  border-top-color: #eeeeee;
  border-left-color: #eee;
  margin: -1px;
  box-shadow: 1px 1px 0 #000, -1px -1px 0 #f5f5f5;
  border-radius: 1px;
}
.-theme-win95 .item-select {
  background: #e1dfdf;
}
.-theme-win95 .item.-device_tracker .item-title,
.-theme-win95 .item.-camera .item-title,
.-theme-win95 .item.-camera_thumbnail .item-title {
  color: #fff;
}
.-theme-winphone,
.-theme-mobile,
.-theme-compact {
  font-size: 14px;
}
.-theme-winphone .item,
.-theme-mobile .item,
.-theme-compact .item {
  font-size: 13.8px;
  border-radius: 0;
}
.-theme-winphone .item-title,
.-theme-mobile .item-title,
.-theme-compact .item-title,
.-theme-winphone .item-subtitle,
.-theme-mobile .item-subtitle,
.-theme-compact .item-subtitle {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
  font-size: 13px;
}
.-theme-winphone .item-title,
.-theme-mobile .item-title,
.-theme-compact .item-title {
  height: 20px;
  font-size: 14px;
}
.-theme-winphone .item-subtitle,
.-theme-mobile .item-subtitle,
.-theme-compact .item-subtitle {
  bottom: 20px;
}
.-theme-winphone .item-state,
.-theme-mobile .item-state,
.-theme-compact .item-state {
  padding: 1px 4px 1px;
  right: 4px;
}
.-theme-winphone .item-entity.-select .item-entity--value,
.-theme-mobile .item-entity.-select .item-entity--value,
.-theme-compact .item-entity.-select .item-entity--value {
  font-size: 16.8px;
}
.-theme-winphone .pages-menu.-left,
.-theme-mobile .pages-menu.-left,
.-theme-compact .pages-menu.-left {
  width: 60px;
}
.-theme-winphone .pages-menu.-bottom,
.-theme-mobile .pages-menu.-bottom,
.-theme-compact .pages-menu.-bottom {
  padding: 3px;
  background: rgba(32, 35, 37, 0.4);
  bottom: 0;
}
.-theme-winphone .pages-menu.-bottom .pages-menu--scroll-indicator,
.-theme-mobile .pages-menu.-bottom .pages-menu--scroll-indicator,
.-theme-compact .pages-menu.-bottom .pages-menu--scroll-indicator {
  display: none;
}
.-theme-winphone .pages-menu .pages-menu--item,
.-theme-mobile .pages-menu .pages-menu--item,
.-theme-compact .pages-menu .pages-menu--item {
  font-size: 24px;
  line-height: 36px;
  width: 38px;
  height: 38px;
  margin: 3px 5px;
  opacity: 0.6;
}
.-theme-winphone .pages-menu .pages-menu--item.-active,
.-theme-mobile .pages-menu .pages-menu--item.-active,
.-theme-compact .pages-menu .pages-menu--item.-active {
  opacity: 1;
  background: rgba(32, 35, 37, 0.4);
}
@media (min-width: 500px) {
  .-theme-winphone .pages-menu,
  .-theme-mobile .pages-menu,
  .-theme-compact .pages-menu {
    padding: 6px;
  }
  .-theme-winphone .pages-menu .pages-menu--item,
  .-theme-mobile .pages-menu .pages-menu--item,
  .-theme-compact .pages-menu .pages-menu--item {
    font-size: 30px;
    line-height: 44px;
    width: 46px;
    height: 46px;
    margin: 5px 5px;
  }
}
.-theme-winphone.-menu-left .page-align,
.-theme-mobile.-menu-left .page-align,
.-theme-compact.-menu-left .page-align {
  margin-left: 70px;
}
.-theme-winphone.-menu-left.-groups-align-vertically .page,
.-theme-mobile.-menu-left.-groups-align-vertically .page,
.-theme-compact.-menu-left.-groups-align-vertically .page {
  padding-left: 70px;
}
.-theme-winphone.-menu-bottom .page,
.-theme-mobile.-menu-bottom .page,
.-theme-compact.-menu-bottom .page {
  padding-bottom: 50px;
}
@media (min-width: 500px) {
  .-theme-winphone.-menu-bottom .page,
  .-theme-mobile.-menu-bottom .page,
  .-theme-compact.-menu-bottom .page {
    padding-bottom: 62px;
  }
}
.-theme-mobile .group-title,
.-theme-winphone .group-title {
  height: 40px;
  top: -40px;
  line-height: 40px;
}
.-theme-mobile .page,
.-theme-winphone .page {
  white-space: normal;
}
.-theme-mobile .page .group,
.-theme-winphone .page .group {
  display: block;
  white-space: nowrap;
}
.-theme-mobile .page-align,
.-theme-winphone .page-align {
  height: 0;
  display: none;
}
.-theme-mobile .weather-list-icon > div,
.-theme-winphone .weather-list-icon > div,
.-theme-mobile .weather-list-icon-image > div,
.-theme-winphone .weather-list-icon-image > div {
  width: 28px;
  height: 28px;
}
.-theme-mobile .item.-th-transparent,
.-theme-winphone .item.-th-transparent {
  background-color: rgba(87, 91, 131, 0.47);
}
.-theme-mobile.-groups-align-vertically .page,
.-theme-winphone.-groups-align-vertically .page {
  padding-left: 0;
}
.-theme-winphone {
  font-size: 13.5px;
}
.-theme-winphone .item {
  color: #f5efee;
  background: rgba(34, 102, 168, 0.3) !important;
}
.-theme-winphone .item:active {
  background: rgba(34, 102, 168, 0.4) !important;
}
.-theme-winphone .item-state {
  background: rgba(0, 0, 0, 0.15);
}
.-theme-winphone .pages-menu.-bottom {
  background: #282828;
}
.-theme-winphone .pages-menu.-bottom .pages-menu--item {
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.-theme-winphone.-menu-bottom .page {
  padding-bottom: 56px;
}
@media (min-width: 500px) {
  .-theme-winphone.-menu-bottom .page {
    padding-bottom: 68px;
  }
}
.-theme-homekit {
  color: #fff;
  background: #eee !important;
}
.-theme-homekit .item {
  color: #363636;
  border-radius: 8px;
  background: #ffffff;
}
.-theme-homekit .item-state {
  background: transparent;
  font-weight: 500;
  color: #686868;
  padding: 3px 5px 2px;
}
.-theme-homekit .item-entity {
  color: #625f56;
}
.-theme-homekit .item-clickable {
  border: 0 !important;
  height: 7px !important;
  width: 7px !important;
  left: 7px !important;
  top: 7px !important;
  border-radius: 7px !important;
  background: #ffa200;
}
.-theme-homekit .item-subtitle {
  font-size: 14px;
  bottom: 21px;
}
.-theme-homekit .item-title {
  height: 22px;
  line-height: 22px;
  padding-bottom: 1px;
}
.-theme-homekit .item-title,
.-theme-homekit .item-subtitle {
  padding-left: 7px;
}
.-theme-homekit .item.-device_tracker {
  background: #222 !important;
}
.-theme-homekit .item.-device_tracker .item-title,
.-theme-homekit .item.-camera .item-title,
.-theme-homekit .item.-camera_thumbnail .item-title {
  color: #fff;
}
.-theme-homekit .item.-device_tracker .item-state,
.-theme-homekit .item.-camera .item-state,
.-theme-homekit .item.-camera_thumbnail .item-state {
  color: #fff;
}
.-theme-homekit .item .item-entity--icon {
  color: #908e96;
}
.-theme-homekit .item.-disarmed,
.-theme-homekit .item.-off {
  color: #544d4b;
  background: linear-gradient(to right bottom, rgba(253, 251, 249, 0.95), rgba(245, 245, 245, 0.8));
}
.-theme-homekit .item.-disarmed .item-state,
.-theme-homekit .item.-off .item-state {
  color: #544d4b;
}
.-theme-homekit .item.-disarmed .item-entity--icon,
.-theme-homekit .item.-off .item-entity--icon {
  color: rgba(159, 150, 140, 0.8);
}
.-theme-homekit .group-title {
  height: 40px;
  top: -40px;
  line-height: 40px;
  font-weight: bold;
  opacity: 1;
  font-size: 17px;
}
.-theme-homekit .weather-list table tr:nth-child(2n) {
  background: rgba(230, 202, 182, 0.1);
}
.-theme-homekit .pages-menu.-bottom {
  background: #fafafa;
  border-top: 1px solid #d2d2d2;
  padding: 0;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--scroll-indicator {
  display: none;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--item {
  color: #777;
  font-size: 26px;
  margin: 5px 8px;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--item.-active {
  background: none;
  color: #8e847c;
}
.-theme-homekit .wu {
  opacity: 0.7;
}
.-theme-homekit .item-select {
  background: #fff;
  border: 1px solid #aaa;
}
.-theme-homekit .item-select--option:active,
.-theme-homekit .item-select--option.-active {
  background: #eee;
}
.-theme-homekit .media-player--source {
  color: #555;
}
.-theme-homekit input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: 0px solid #000101;
}
.-theme-homekit input[type=range]::-moz-range-track {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.-theme-homekit input[type=range]::-webkit-slider-thumb {
  border-radius: 10px;
}
.-theme-homekit input[type=range]::-moz-range-thumb {
  border-radius: 10px;
}
.-theme-homekit.-menu-bottom .page {
  padding-bottom: 81px;
}
.-theme-homekit.-theme-mobile .item-state {
  padding: 4px 5px 2px !important;
}
.-theme-fresh-air {
  background: #1559d0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}
.-theme-fresh-air .header clock {
  margin-bottom: 5px;
}
.-theme-fresh-air .group-title {
  opacity: 1;
  font-weight: 500;
}
.-theme-fresh-air .item {
  color: #fff;
  border: 2px solid rgba(226, 237, 255, 0.6);
  background: rgba(132, 122, 116, 0) !important;
  box-shadow: none;
  border-radius: 1px;
}
.-theme-fresh-air .item-state {
  background: rgba(0, 0, 0, 0.1);
}
.-theme-fresh-air .item.-device_tracker {
  background: #222 !important;
}
.-theme-fresh-air .item.-device_tracker .item-title,
.-theme-fresh-air .item.-camera .item-title,
.-theme-fresh-air .item.-camera_thumbnail .item-title {
  color: #fff;
}
.-theme-fresh-air .item.-armed,
.-theme-fresh-air .item.-on {
  border-color: #ffcaab;
}
.-theme-fresh-air .item.-armed .item-entity--icon,
.-theme-fresh-air .item.-on .item-entity--icon,
.-theme-fresh-air .item.-armed .item-state,
.-theme-fresh-air .item.-on .item-state {
  color: #fde7e4;
}
.-theme-white-paper {
  background: #fff;
  color: #444;
  font-family: 'Roboto', sans-serif;
}
.-theme-white-paper .header {
  color: #444;
}
.-theme-white-paper .header clock {
  margin-bottom: 5px;
}
.-theme-white-paper .group-title {
  opacity: 1;
  font-weight: 500;
}
.-theme-white-paper .item-select {
  color: #fff;
}
.-theme-white-paper .pages-menu--item {
  color: #444;
}
.-theme-white-paper .group-title {
  color: #444;
}
.-theme-white-paper input[type=range]::-webkit-slider-runnable-track {
  background: #ddd;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: 0px solid #000101;
}
.-theme-white-paper input[type=range]::-moz-range-track {
  background: #ddd;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.-theme-white-paper input[type=range]::-webkit-slider-thumb {
  background: #555;
  border-radius: 10px;
}
.-theme-white-paper input[type=range]::-moz-range-thumb {
  background: #555;
  border-radius: 10px;
}
.-theme-white-paper .item {
  color: #444;
  border: 2px solid #858585;
  background: rgba(132, 122, 116, 0) !important;
  box-shadow: none;
  border-radius: 2px;
}
.-theme-white-paper .item .item-entity--icon {
  color: #555;
}
.-theme-white-paper .item-state {
  background: transparent;
  border-bottom: 1px solid rgba(129, 124, 124, 0.5);
  padding: 2px 2px 0;
  color: #444;
  opacity: 1;
}
.-theme-white-paper .item.-device_tracker {
  background: #222 !important;
}
.-theme-white-paper .item.-device_tracker .item-title,
.-theme-white-paper .item.-camera .item-title,
.-theme-white-paper .item.-camera_thumbnail .item-title {
  color: #fff;
}
.-theme-white-paper .item.-armed,
.-theme-white-paper .item.-on {
  border-color: #ff865e;
}
.-theme-white-paper .item.-armed .item-state,
.-theme-white-paper .item.-on .item-state {
  color: #e4662b;
  border-color: rgba(194, 141, 130, 0.48);
}
.-theme-white-paper .pages-menu.-bottom {
  background: rgba(255, 255, 255, 0.92);
  border-top: 2px solid #a3a3a3;
  padding: 0;
}
.-theme-white-paper .pages-menu.-bottom .pages-menu--scroll-indicator {
  display: none;
}
.-theme-white-paper .pages-menu.-bottom .pages-menu--item {
  color: #777;
  font-size: 26px;
  margin: 5px 8px;
}
.-theme-white-paper .pages-menu.-bottom .pages-menu--item.-active {
  background: none;
  color: #444;
}
